<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Café - Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% if user_logged_in %}
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% endif %}
                <li><a href="{{ url_for('faq') }}">FAQ</a></li>
            </ul>
        </nav>
        <div id="logo-container">
            <img src="{{ url_for('static', filename=logo_filename) }}" alt="Code Café Logo" id="logo" style="max-width: 200px;">
        </div>
    </header>

    <main>
        <div class="form-container">
            <h2>Register</h2>
            <form method="post" action="{{ url_for('register') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Register</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Code Café. All rights reserved.</p>
    </footer>
</body>
</html>
